<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <style>
        h1{
            text-align: center;
            color: green;

        }
        p{
            text-align: center;
            color
        }
        .container{
            text-align: center;
            width: 50%;
            margin: auto;
            background-color: #1e90ff;
        }
    </style>
</head>
<body>
<div class="container">

    <h1>Thank you for contacting Techie!,,Your message will be replied in short. Thankyou for your patience.</h1>
    <h2>Your message has been successfully submitted.</h2>

</div>
</body>
</html>
